{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var socket = new WebSocket('wss://p3-websockets-panpan2016-panpanxu714595.codeanyapp.com/ws/draw');
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path = new paper.Path();
    var randomID = Math.random()*3;
    var currentID = Math.trunc(randomID);
 
    tool.onMouseMove = function (event) {
      console.log(currentID);
      var point = {"x": event.point.x,
                   "y": event.point.y,
                   "currentID": currentID};
      socket.send(JSON.stringify(point));
    }
    
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    // var socket = new WebSocket(
    //     'wss://<your url here>/ws/draw');
  
    // create a new websocket connecting to the server
   

    // triggered when receiving a message from the server
    socket.onmessage = function(receivedMessage) {
	  // do something when you receive a message
      var msg = JSON.parse(receivedMessage.data);
      var point = new paper.Point(msg.x, msg.y);
      var num = msg.currentID;
      console.log(num);
      if (num == 0) {
         path.strokeColor = '#000000';  
       } else if (num == 1) {
         path.strokeColor = '#00ffff';  
       } else {
         path.strokeColor = '#008000';  
       }
      path.add(point); 
    };

    // use when sending a message to the server
    // to be broadcasted to all clients, please add a delay
    //setTimeout(function() { socket.send('I love rutabagas!'); }, 2000);

    

    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


</script>
</html>
